.sidepanel {
    display: flex;
    padding-bottom: 50px;
    flex-direction: column;
    left: 20px;
    position: fixed;
    height: 100vh;
    width: 20%;
    background-color: #a43f49;
    color: #fff;
        &__photo {
            display: block;
            margin: 0 auto;
            margin-top: 40px;
            width: 180px;
            height: 180px;
            text-align: center;
            border-radius: 50%;
        }
        &__name {
            margin: 60px 40px;
            text-align: center;
        }
    &__list {
        list-style-type: none;
        font-size: 30px;
        margin-top: 120px;
        padding: 0;
    }
    &__link {
        border-top: 2px solid #fff; 
        &:last-child {
            border-bottom: 2px solid #fff;;
        }
        a {
            color: #fff;
            height: 80px;
            line-height: 80px;
            display: inline-block;
            width: 100%;
            text-align: center;
            
            &:hover {
                text-decoration: none;
                background-color: #fff;
                color: #000;
                }
        }
    }
    &__social {
        margin: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;

        &-item {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 15px;
        }
    }
    &__title {
        font-size: 25px;
    }
    &__subtitle {
        font-size: 20px;
    }
}